set colored-stats on
set visible-stats on
$if Bash
set completion-ignore-case on
set menu-complete-display-prefix on
set print-completions-horizontally on
set show-all-if-ambiguous on
Tab: menu-complete
"\e[Z": menu-complete-backward
$endif
